### Table of Contents:
Imports: Imported libraries  
Dataframes: Dataframes to be used  
1: Wrangled data for orders dataframe and departments dataframe    
2: Column datatype change  
3: Rename column  
4: Value counts for order_hour_of_day column   
5: Retrieve department 4 from data dictionary  
6: Subset of products dataframe  
7: Subset of products dataframe  
8: Number of rows and columns from second subset  
9: Table of user_id 1  
10: Profile of user_id 1  
11: Export orders dataframe

# Imports

In [1]:
import pandas
import numpy
import os

# Dataframes

In [2]:
df_orders = pandas.read_csv(r"C:\Users\justi\Downloads\Instacart Basket Analysis\2. Data\Original\orders.csv")
df_products = pandas.read_csv(r"C:\Users\justi\Downloads\Instacart Basket Analysis\2. Data\Original\products.csv")
df_departments = pandas.read_csv(r"C:\Users\justi\Downloads\Instacart Basket Analysis\2. Data\Original\departments.csv")

# 1

In [3]:
# Drop unnecessary eval_set column
df_orders = df_orders.drop(columns = ['eval_set'])

In [4]:
# Rename order_dow column to be more descriptive 
df_orders.rename(columns = {'order_dow':'order_day_of_week'}, inplace = True)

In [5]:
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [17]:
# Change column from integer to string
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [19]:
df_orders['order_id'].dtype

dtype('O')

In [8]:
# Transpose departments dataframe
df_departments_t = df_departments.T
new_header = df_departments_t.iloc[0]
df_departments_t = df_departments_t[1:]
df_departments_t.columns = new_header

In [9]:
df_departments_t

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [10]:
# Departments data dictionary
data_dict = df_departments_t.to_dict('index')

In [11]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [12]:
# Subset from products dataframe
df_snacks = df_products[df_products['department_id'] == 19]

In [14]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

# 2

In [20]:
# Change column from integer to string
df_orders['user_id'] = df_orders['user_id'].astype('str')

In [21]:
df_orders.dtypes

order_id                   object
user_id                    object
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

# 3

In [22]:
# Rename days_since_prior_order column without overwriting
df_orders.rename(columns = {'days_since_prior_order':'days_since_last_order'})

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

# 4

In [27]:
df_orders['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

Busiest hour of the day for placing orders is the 10th hour

# 5

In [28]:
data_dict.get('4')

{'department': 'produce'}

department_id 4 represents produce

# 6

In [31]:
# Subset from products dataframe
df_breakfast = df_products[df_products['department_id'] == 14]

In [32]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

# 7

In [3]:
# Subset from products dataframe
subset = df_products[df_products['department_id'].isin([7, 12, 20])]

In [4]:
subset.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

# 8

In [5]:
subset.shape

(6594, 5)

This subset contains 7650 rows

# 9

In [51]:
# Information about user_id 1
df_orders[df_orders['user_id'] == '1']

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

# 10

This user orders during the first half of the week. They order at many different hours of the day. They make an order every 2-4 weeks.

# 11

In [52]:
# Export orders
df_orders.to_csv(r"C:\Users\justi\Downloads\Instacart Basket Analysis\2. Data\Prepared\orders_wrangled.csv")