### Table of Contents:
Imports: Imported libraries  
Dataframes: Dataframe to be used  
1: Group order_number by department  
2: Comparison of two different groupings  
3: Derive two columns for orders_products_merged dataframe   
4: Statistics for prices of products based on loyalty_status  
5: Derive two columns for orders_products_merged dataframe   
6: Derive two columns for orders_products_merged dataframe   
7: Export dataframe

# Imports

In [1]:
import pandas
import numpy

# Dataframes

In [2]:
orders_products = pandas.read_pickle(r"C:\Users\justi\Downloads\Instacart Basket Analysis\2. Data\Prepared\orders_products_merged.pkl")

# 1

In [4]:
# Group average order number by department
orders_products.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# 2

Grouping the entire dataframe differs from grouping the subset in that all departments are now included in the output.

# 3

In [6]:
# Make new column total_user_orders
orders_products['total_user_orders'] = orders_products.groupby('user_id')['order_number'].transform(numpy.max)

In [7]:
# Make new column loyalty_status
orders_products.loc[orders_products['total_user_orders'] > 40, 'loyalty_status'] = 'Loyal customer'
orders_products.loc[(orders_products['total_user_orders'] > 10) & (orders_products['total_user_orders'] <= 40), 'loyalty_status'] = 'Regular customer'
orders_products.loc[orders_products['total_user_orders'] <= 10, 'loyalty_status'] = 'New customer'

In [8]:
# Check counts for derived column
orders_products['loyalty_status'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_status, dtype: int64

# 4

In [12]:
# Check statistics for price of purchased products
orders_products.groupby('loyalty_status').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_status
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

# 5

In [13]:
# Make new column average_product_price
orders_products['average_product_price'] = orders_products.groupby('user_id')['prices'].transform(numpy.mean)

In [17]:
# Make new column spending_status
orders_products.loc[orders_products['average_product_price'] < 10, 'spending_status'] = 'Low spender'
orders_products.loc[orders_products['average_product_price'] >= 10, 'spending_status'] = 'High spender'

# 6

In [18]:
# Make new column median_days_since_prior_order
orders_products['median_days_since_prior_order'] = orders_products.groupby('user_id')['days_since_prior_order'].transform(numpy.median)

In [20]:
# Make new column order_frequency_status
orders_products.loc[orders_products['median_days_since_prior_order'] > 20, 'order_frequency_status'] = 'Non-frequent customer'
orders_products.loc[(orders_products['median_days_since_prior_order'] > 10) & (orders_products['median_days_since_prior_order'] <= 20), 'order_frequency_status'] = 'Regular customer'
orders_products.loc[orders_products['median_days_since_prior_order'] <= 10, 'order_frequency_status'] = 'Frequent customer'

# 7

In [26]:
# Overwrite dataframe
orders_products.to_pickle(r"C:\Users\justi\Downloads\Instacart Basket Analysis\2. Data\Prepared\orders_products_merged.pkl")